# backend
backend/venv/
backend/.env
backend/__pycache__/
backend/*.py[cod]
backend/instance/
backend/.webassets-cache/

# frontend
frontend/node_modules/
frontend/build/
frontend/.env

node_modules/
package.json 
package-lock.json

# mac stuff
.DS_Store
