# backend
backend/venv/
backend/.env
backend/__pycache__/
backend/*.py[cod]
backend/instance/
backend/.webassets-cache/

# frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/package.json

node_modules/
package.json 
package-lock.json

# mac stuff
.DS_Store

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
